<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Google Web Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Vollkorn:400italic,700italic,400,700' rel='stylesheet' type='text/css'>

    <!-- Le styles -->
    <link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/bootstrap-responsive.css" rel="stylesheet">

    <!-- Custom style -->
    <link href="{{ STATIC_URL }}css/style.css" rel="stylesheet">

    <!-- Favicon -->
    <link rel="shortcut icon" href="{{ STATIC_URL }}img/favicon.png">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="{{ STATIC_URL }}js/html5shiv.js"></script>
    <![endif]-->
    {% block extra_head %}{% endblock %}
</head>

<body>
<header>
    <div class="container">
        <div class="row">
            <div class="span2">
                <a href="{% url 'core:home' %}">
                    <img src="{{ STATIC_URL }}img/logo-pistalo.png">
                </a>
            </div>
            <div class="span10">
                <div class="top-menu pull-right">
                    <a href="{% url 'core:home' %}">Home</a>&nbsp;&nbsp;|&nbsp;&nbsp;
                    <a href="{% url 'core:autores' %}">Autores</a>&nbsp;&nbsp;|&nbsp;&nbsp;
                    <a href="{% url 'core:sugestoes' %}">Sugestões</a>&nbsp;&nbsp;|&nbsp;&nbsp;
                    <a href="{% url 'core:comprar' %}">Comprar</a>&nbsp;&nbsp;|&nbsp;&nbsp;
                    <a href="{% url 'core:vender' %}">Vender</a>&nbsp;&nbsp;|&nbsp;&nbsp;
                    <a href="{% url 'core:contato' %}">Contato</a>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="main">
{% block content %}{% endblock %}
</div>
<footer>
    <div class="container">
        <span>&copy; 2013 <a href="{% url 'admin:index' %}">Pistalo</a></span>
    </div>
</footer>

<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{{ STATIC_URL }}js/jquery.js"></script>
<script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
{% block scripts %}{% endblock %}
</body>
</html>
