{% extends "base.html" %}

{% block title %}Comprar{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="span12">

                <div class="page-header">
                    <h1>Comprar</h1>
                </div>

                <div class="row">

                    <div class="span3">
                        <strong>Dados:</strong>
                        <p>
                            Email:
                            <a href="mailto:pistalo@pistalo.com.br?subject=Comprar&body=Nome:%20%0D%0ATelefone:%20%0D%0AMensagem:%20%0D%0A">
                                pistalo@pistalo.com.br
                            </a><br>
                            Fone: (85) 9621-6921<br>
                            No título do email escreva <strong>"Comprar"</strong>.
                        </p>
                    </div>
                    <div class="span3">
                        <strong>Informe:</strong>
                        <ul>
                            <li>Nome</li>
                            <li>Telefone</li>
                            <li>Mensagem</li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
