{% extends "base.html" %}

{% block title %}Contato{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="span12">

                <div class="page-header">
                    <h1>Contato</h1>
                </div>

                <p>Email: <a href="mailto:pistalo@pistalo.com.br">pistalo@pistalo.com.br</a></p>
                <p>Fone: (85) 9621-6921</p>

                <blockquote>
                    No título do email informe o tipo se é: Elogio ou Sugestão e no corpo informe seu nome,
                    telefone e mensagem.
                </blockquote>

            </div>
        </div>
    </div>
{% endblock %}
