{% extends "base.html" %}

{% block extra_head %}
    <!-- fancybox -->
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}fancybox/source/jquery.fancybox.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}fancybox/source/helpers/jquery.fancybox-buttons.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}fancybox/source/helpers/jquery.fancybox-thumbs.css" />
    <!-- Perfect Scroll Bar -->
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/perfect-scrollbar-0.4.1.min.css" />
{% endblock %}

{% block title %}Galeria{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="span12">

                <div class="page-header">
                    <div class="row">
                        <div class="span9"><h1>Galeria</h1></div>
                        <div class="span3 data-filter">
                            <form class="filterform bs-docs-example form-search" action="." method="get">
                                <input class="input-medium search-query" type="text" placeholder="Pesquisa por código" name="quadro">
                                <button class="btn" type="submit">Ok</button>
                            </form>
                        </div>
                    </div>
                </div>

                <ul class="thumbnails">
                    {% for quadro in quadros %}
                    <li data-filter="{{ quadro.codigo }}" class="span6">
                        <div class="row">
                            <div class="span2 quadro-imagem">
                                <a href="{{ quadro.imagem.url }}" class="thumb" title="{{ quadro.nome }}">
                                    <img width="160" height="160" src="{{ quadro.thumb.url }}"
                                         alt="{{ quadro.nome }}" title="{{ quadro.nome }}">
                                </a>
                            </div>
                            <div class="span4 quadro-texto">
                                <h4>
                                    <small style="color: #c92a46">#<strong>{{ quadro.codigo }}</strong></small>
                                    {{ quadro.nome }}
                                    {% if quadro.autor %}
                                        <small>por <a href="{{ quadro.autor.get_absolute_url }}">{{ quadro.autor.nome }}</a></small>
                                    {% endif %}
                                </h4>
                                {% if quadro.desc %}{{ quadro.desc|linebreaks }}{% endif %}
                            </div>
                        </div>
                    </li>
                    {% empty %}
                        <li>Não há quadros cadastrados</li>
                    {% endfor %}
                </ul>

            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <!-- fancybox -->
    <script src="{{ STATIC_URL }}fancybox/lib/jquery.mousewheel-3.0.6.pack.js"></script>
    <!-- Add fancyBox main JS and CSS files -->
    <script type="text/javascript" src="{{ STATIC_URL }}fancybox/source/jquery.fancybox.js"></script>
    <!-- Add Button helper (this is optional) -->
    <script type="text/javascript" src="{{ STATIC_URL }}fancybox/source/helpers/jquery.fancybox-buttons.js"></script>
    <!-- Add Thumbnail helper (this is optional) -->
    <script type="text/javascript" src="{{ STATIC_URL }}fancybox/source/helpers/jquery.fancybox-thumbs.js"></script>
    <!-- Add Media helper (this is optional) -->
    <script type="text/javascript" src="{{ STATIC_URL }}fancybox/source/helpers/jquery.fancybox-media.js"></script>

    <!-- Perfect Scroll Bar -->
    <script type="text/javascript" src="{{ STATIC_URL }}js/perfect-scrollbar-0.4.1.min.js"></script>
    <script>
        // Set custom style, close if clicked, change title type and overlay color
        $(".thumb").fancybox({
            wrapCSS    : 'fancybox-custom',
            closeClick : true,

            openEffect : 'none',

            helpers : {
                title : {
                    type : 'inside'
                },
                overlay : {
                    css : {
                        'background' : 'rgba(238,238,238,0.85)'
                    }
                }
            }
        });
        $('.quadro-texto').perfectScrollbar({
            wheelSpeed: 20,
            wheelPropagation: false
        });
    </script>

    {% comment %}<script type="text/javascript" src="{{ STATIC_URL }}js/data-filter.js"></script>{% endcomment %}
{% endblock %}