{% extends "base.html" %}

{% block title %}Comprar{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="span12">
                <div class="row">

                    <div class="span12">
                        <ul class="bxslider">
                            {% for quadro in quadros %}
                            <li><img src="{{ quadro.imagem.url }}" /></li>
                            {% endfor %}
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_head %}
    <link href="{{ STATIC_URL }}bxslider/jquery.bxslider.css" rel="stylesheet">
    <style>
    .bx-wrapper {
        margin-top: 20px;
        width: 50%;
    }
    .bx-wrapper .bx-viewport {
        background-color: rgba(255, 255, 255, .5);
        border: none;
        text-align: center;

        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        border-radius: 6px;
    }
    ul.bxslider li img {
        width: 100%;

        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        border-radius: 6px;
    }
    ul.bxslider { margin: 0 }
    @media (max-width: 767px) {
        .bx-wrapper {
            margin-top: 20px;
            width: 100%;
        }
    }
    </style>
{% endblock %}
{% block scripts %}
    <script src="{{ STATIC_URL }}bxslider/jquery.bxslider.min.js"></script>
    <script type="text/javascript">
        $('.bxslider').bxSlider({
            auto: true,
            autoControls: true,
            adaptiveHeight: true,
            mode: 'fade',
            speed: 500
        });
    </script>
{% endblock %}