html, body {
    font-family: 'Vollkorn', serif;
    background: #F7ECD0 url("../img/bg01.jpg") bottom right fixed;
    height: 100%;
}

header {
    padding: 3em 0 0;
    background-color: #c92a46;
    opacity: .7;
}

a, a:hover {
    color: #c92a46;
}

header img {
    text-align: center;
}

header .container {
    position: relative;
}

.top-menu {
    position: absolute;
    bottom: 0;
    right: 0;
    color: #000;
}

.top-menu a {
    color: #fff;
    font-size: 1.1em;
    font-style: italic;
}

.main {
    padding-bottom: 2em;
}

footer {
    padding: 2.5em 0;
}

footer a, footer a:hover {
    color: #000;
}

li.quadro-imagem {
    height: 160px;
}

.quadro-imagem img {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

.quadro-imagem .desc-autor {
    margin-top: 1em;
}

li.quadro-texto {
    height: 160px;
    overflow-y: hidden;
    background: rgba(255, 255, 255, .8);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    position: relative;
}

li.quadro-texto h4, li.quadro-texto p {
    padding: 0 1em;
}

.page-header {
    border-bottom: 1px dashed #db305a;
}

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
    color: #db305a;
}

/* fancybox */
.fancybox-custom .fancybox-skin {
    box-shadow: 0 0 50px #222;
}

/**/

@media (max-width: 767px) {
    header, footer, .main {
        padding-left: 20px;
        padding-right: 20px;
        margin-left: -20px;
        margin-right: -20px;
    }
}