html, body {
    font-family: 'Vollkorn', serif;
    background: #FFF url("../img/bg01-blue.jpg") bottom right fixed;
    height: 100%;
}

blockquote {
    border-left: 5px solid rgba(242, 189, 144, 0.78);
}

header {
    padding: 1em 0 1em;
    background-color: rgba(0, 38, 70, 0.6);
    /*background-color: rgba(255, 106, 106, .7);*/
}

.page-header {
    border-bottom: 1px dashed #0077b3;
    /*border-bottom: 1px dashed #db305a;*/
}

form.filterform {
    margin-bottom: 0;
}

/* Posiciona o campo de pesquisa por código */
.data-filter {
    padding-top: 20px;
    text-align: right;
}

a, a:hover {
    color: #0077b3;
    /*color: #c92a46;*/
}

header .container {
    position: relative;
}

.top-menu {
    position: absolute;
    bottom: 0;
    right: 0;
    color: rgba(255, 255, 255, .2);
    /*color: #c92a46;*/
}

.top-menu a {
    color: #fff;
    font-size: 1.2em;
    font-style: italic;
}

.logo-pistalo {
    width: 100px;
    float: left;
    min-height: 1px;
    margin-left: 30px;
}

.main {
    padding-bottom: 2em;
}

footer {
    padding: 2.5em 0;
}

footer a, footer a:hover {
    color: #000;
}

.quadro-imagem {
    height: 160px;
}

.quadro-imagem img, .quadro-imagem-sem-altura img {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

.quadro-imagem-sem-altura .desc-autor {
    margin-top: 1em;
}

.quadro-texto {
    height: 160px;
    overflow-y: hidden;
    background: rgba(255, 255, 255, .5);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    position: relative;
}

.quadro-texto h4, .quadro-texto p {
    padding: 0 1em;
}

/* fancybox */
.fancybox-custom .fancybox-skin {
    box-shadow: 0 0 50px #222;
}

/* format the slider */
.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto {
	bottom: -55px !important;
}

@media (max-width: 767px) {
    .logo-pistalo {
        width: 70px;
        float: left;
        min-height: 1px;
        margin-left: 0;
    }
    header, footer, .main {
        padding-left: 20px;
        padding-right: 20px;
        margin-left: -20px;
        margin-right: -20px;
    }
    .top-menu {
        position: relative;
        margin-top: 1.2em;
    }
    .data-filter {
        padding-top: 1em;
        text-align: left;
    }
}
